.small_icon{
    width: 60px;
    height: 60px;
}
.title{
    color: azure;
    font-size: 2.8em;
}

.btn{
    height: 100%;
    width: 200px;
}

.about_Me_Info{
    color: black;
    border: 1px;
    position: absolute;
    background-color: azure;
    
    
}

