<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid bg-dark d-flex  me-0">
    <img class="small_icon" src="assets/logo.png" (click) ="setActiveArea(0,false); setActiveArea(1,false)"/>
    <H1 class="title">Welcome To Taostation</H1>
    <div class="d-flex ms-auto" (mouseleave)="click = [false,false]" >
            <div>
                <button class="btn  btn-outline-light"  (click)="setActiveArea(0,true); setActiveArea(1,false)">My Projects</button>
            </div>
            <div>
                <button class="btn  btn-outline-light"  (click)="setActiveArea(0,false); setActiveArea(1,true)">About Me</button>
            </div>
            <div >
                <button class="btn  btn-outline-light"  (click)="click[1]=true">Contact</button>
                <div class="about_Me_Info " *ngIf="click[1]" (mouseleave)="click[1] = false" >
                    <i class="fa fa-envelope row " ><a href="mailto:wbai@torontomu.com" >wbai&#64;torontomu.ca</a></i><br>
                    <i class="fa fa-linkedin-square row" ><a href="https://www.linkedin.com/in/wentao-bai-40ba1888/" target="_blank">www.linkedin.com/in/wentao-bai-40ba1888</a></i><br>
                    <i class="fa fa-github row" ><a href="https://github.com/witarz13" target="_blank">github.com/witarz13</a></i><br>
                        <!-- <a herf="https://github.com/witarz13" target="_blank">github.com/witarz13</a></i><br> -->
                </div>
            </div>
            
         
    </div>
    
</div>