.display-2{
    position: relative;
    font-weight: bold;
    position: relative;
    color: brown;
    left: 50%;
}

.rainbow-textAka {
    background: linear-gradient(to right,#2c2b2b, #8e1413, #fd0224, #e03738, #ff8670) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size:100% auto;
  }