.container {
    display: flex;

  
  }
  
  .left{
    width: 50%;
    padding: 20px;
    /* box-sizing: border-box; */
  }
  
  .right{
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column; 
    font-family:  Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    align-items: center; 
  }
  .row{
    flex: 1;
  }
  .left img{
    max-width: 100%; 
    max-height: auto; 
    border-radius: 50%;
  }
 