.container {
    display: flex;
    position: absolute;
    transform: translateX(-75%);
    width: 100vh;
    height: auto;
  }
  
  .left, .right {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .left {
    text-align: center;
    background-color: lightgray;
  }
  .left img{
    max-width: 100%; 
    max-height: auto; 
    border-radius: 50%;
  }
  
  .right {
  
    background-color: lightgray;
  }
  .row{
    vertical-align: middle;
  }