<div class="container ">
    <div class="left">
      <img src="assets/photo.jpg" alt="Image">
    </div>
    <div class="right ">
      <p class="row">A Computer Science graduate from 2023.</p>
      <p class="row">A Nuclear Engineering graduate from 2016.</p>
      <p class="row">An experienced quality assurance tester for Web-Application.</p>
      <p class="row">A proactive job seeker seeking a position in SED, web development, or QA.</p>
      <p class="row">A pursuer for metanarratives and cutting-edge technology.</p>
      <p class="row">A traveler of life who's always moving forward.</p>
      <p class="row">An addicted snowboarder but whos think safety-first.</p>
      <p class="row">Alwasy hungry, alwasy angry.</p>
    </div>
  </div>