<div (mouseenter)="hover = true" (mouseleave)="hover = false" class="container projects"  [ngStyle]="{'background-color': bgColor}" >
    <h3 class="projectTitle">{{projectName}}</h3>
    <div class="notHover" *ngIf="!hover">
        <img  class="porjectImageLarge" src="{{screenL}}" />
        <div class='skillSet' *ngFor="let skill of skillSet">
            <div class="skill">
                {{skill}}
            </div>

        </div>   
    </div >
    <div class="hover" *ngIf="hover">
        <p class="detailInfo">
            {{detail}}
        </p>
        <img  class="porjectImageLarge" src="{{screenS}}" />
        <a href="{{url}}" target="_blank">{{url}}</a>
        
    </div>
    

    
   
</div>