
/* .projects{
  transition: transform 0.3s ease;
}
.projects:hover{
  transform: scale(3); 
  z-index: 100;
} */

.projects{
  transition: transform 0.3s ease;
}
.projectTitle{
  text-align: center;
}

.projects:hover{
  position: fixed;
  transform: translate(-30%, -30%);
  width: 50%; /* 悬停时占据屏幕宽度的50% */
  height: 70%;
  z-index: 100;
}

.porjectImageLarge{
  max-width: 100%;
  max-height: auto;
  display: block;
  margin: 10px 0;
}
.skillSet{
  display:inline-flex; /* 确保容器大小根据内容大小自动调整 */
  justify-content: center; /* 在主轴上居中对齐 */
  align-items: center; 
  padding: 3px; /* 可根据需要调整填充大小 */
  border-radius: 10%; /* 将边框半径设置为容器宽度的一半，以创建椭圆形 */
  background-color: #ccc; /* 灰色背景 */
  margin: 0 10px
}
